header{
    color: blue;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    margin-bottom: 25px;
}

.pad{
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    display: flex;
    flex: 1;
    color: rgb(27, 26, 26);
    outline: solid 1px;
    
    
}

.hover{
    background-color:slategray;
}