header{
    color: blue;
}

.pad{
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    display: flex;
    flex: 1;
    color: rgb(27, 26, 26);
    border: 2px dotted;
    height: 20px;
}

